$footback: #AAAAAA;

.foot {
	hr {
		width: 90%;
	    height: 30px; 
			border-style: solid; 
		border-color: #8c8b8b; 
		border-width: 1px 0 0 0; 
		border-radius: 20px; 
	}
	hr:before {
		display: block; 
		content: ""; 
		height: 30px; 
		margin-top: -31px; 
		border-style: solid; 
		border-color: #8c8b8b; 
		border-width: 0 0 1px 0; 
		border-radius: 20px; 
	}
}
.bottom-bar {
	background-color: $footback;
	text-align: center;
	p {
		margin-top: 20px;
		font-size: 12px;
	}
	h3 {
		font-size: 14px;
	}
}