@import 'nav';
@import 'foot';

$mainBack : #F3F2F0;

body {
	font-family: Ubuntu;
	background-color: darken($mainBack, 7.5%);
}
.content {
	display: block;
	border-radius: 5px;
	background-color: white;
	margin: 40px auto 20px;
	padding: 30px;
	font-size: 18px;
	line-height: 200%;
	min-height: 500px;
	text-align: center;
	h1 {
		text-decoration: underline;
		text-align: center;
	}
}
