<html>
	<head>
		 <title> Trigon Engineering Society </title> 
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		 <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/lawn.css')}}"/>
	</head>
	<body>
	<div class="header">
	<div class="container">
		<img src="{{url_for('static', filename='images/header_img.jpg')}}">
		<hr>
		<div class="nav row">
			<div class="col-sm-1"></div>
			<div class="col-sm-2 home">
				<a href="/">Home</a>
			</div>
			<div class="col-sm-2 link rush"><a href="/rush">Rush</a></div>
			<div class="col-sm-2 link lawn"><a class="active" href="/lawn">Lawn Room</a></div>
			<div class="col-sm-2 link history"><a href="/history">History</a></div>
			<div class="col-sm-2 link teh"><a href="/teh">TEH Award</a></div>
			<div class="col-sm-1"></div>

		</div>
	</div>
	</div>


	<div class="container">
			<div class="content">
				<h1>17 West Lawn</h1>
				<p>The first official meeting of Trigon Engineering Society, originally named the Delta Society, was held in Mr. Woods Stockton Walker’s room, 17 West Lawn, in 1924. Since then, over 50 Trigon brothers have been selected as the resident for Room 17 West Lawn.</p>
				<h3 id=residents> Residents of 17 West Lawn</h3>
<table class="ListTable" align="center">
<tbody>
<tr class="ListHeaderRow">
<th class="ListHeader">Session</th>
<th class="ListHeader">Resident</th>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1924-1925</td>
<td class="ListColumnTwo">Woods Stockton Walker</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1925-1926</td>
<td class="ListColumnTwo">Ewing Gordon Simpson</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1926-1927</td>
<td class="ListColumnTwo">Ewing Gordon Simpson</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1928-1929</td>
<td class="ListColumnTwo">Ewing Gordon Simpson</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1967-1968</td>
<td class="ListColumnTwo">Reid Carter</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1968-1969</td>
<td class="ListColumnTwo">William Martin McManus</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1969-1970</td>
<td class="ListColumnTwo">Robert Hickman</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1970-1971</td>
<td class="ListColumnTwo">Barry Shenton</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1971-1972</td>
<td class="ListColumnTwo">Jim Bennet</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1972-1973</td>
<td class="ListColumnTwo">Philip Turner McManus</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1973-1974</td>
<td class="ListColumnTwo">James C. Gordon</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1974-1975</td>
<td class="ListColumnTwo">William G. Pitzer</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1975-1976</td>
<td class="ListColumnTwo">David Stone</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1976-1977</td>
<td class="ListColumnTwo">Doug Lewis</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1977-1978</td>
<td class="ListColumnTwo">Robert Raymond</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1978-1979</td>
<td class="ListColumnTwo">Steven Graham</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1979-1980</td>
<td class="ListColumnTwo">Allan Ballenger</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1980-1981</td>
<td class="ListColumnTwo">Rob Cross</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1981-1982</td>
<td class="ListColumnTwo">Thomas Taylor</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1982-1983</td>
<td class="ListColumnTwo">Thomas Kinne</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1983-1984</td>
<td class="ListColumnTwo">Suzanne Liebowitz</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1984-1985</td>
<td class="ListColumnTwo">Michael Brady</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1985-1986</td>
<td class="ListColumnTwo">Iris Wilken</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1986-1987</td>
<td class="ListColumnTwo">Sam Thompson</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1987-1988</td>
<td class="ListColumnTwo">Anthony Wenzel</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1988-1989</td>
<td class="ListColumnTwo">David McCarthy</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1989-1990</td>
<td class="ListColumnTwo">Dan Sherlock</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1990-1991</td>
<td class="ListColumnTwo">Elizabeth Walker</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1991-1992</td>
<td class="ListColumnTwo">Adam Burden</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1992-1993</td>
<td class="ListColumnTwo">Richard Humphrey</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1993-1994</td>
<td class="ListColumnTwo">Robert Christie</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1994-1995</td>
<td class="ListColumnTwo">Robert Shields</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1995-1996</td>
<td class="ListColumnTwo">David Vernon</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1996-1997</td>
<td class="ListColumnTwo">Tiffany Amber Cajulis</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1997-1998</td>
<td class="ListColumnTwo">Hong Ko Jun</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1998-1999</td>
<td class="ListColumnTwo">James Alexander</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">1999-2000</td>
<td class="ListColumnTwo">Jeffrey Ludden</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2000-2001</td>
<td class="ListColumnTwo">James Kochuba</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2001-2002</td>
<td class="ListColumnTwo">James Kochuba</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2002-2003</td>
<td class="ListColumnTwo">Robert Zane Smith III</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2003-2004</td>
<td class="ListColumnTwo">Sean Curtis Graham</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2004-2005</td>
<td class="ListColumnTwo">Jeffrey Thomas Strup</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2005-2006</td>
<td class="ListColumnTwo">Emily Lynn Benko</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2006-2007</td>
<td class="ListColumnTwo">Nathan Hurst</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2007-2008</td>
<td class="ListColumnTwo">Vanessa Trahan</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2008-2009</td>
<td class="ListColumnTwo">Hillary Chandler</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2009-2010</td>
<td class="ListColumnTwo">Tommy Murphy</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2010-2011</td>
<td class="ListColumnTwo">Kurt Enzinger</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2011-2012</td>
<td class="ListColumnTwo">John Ward</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2012-2013</td>
<td class="ListColumnTwo">Douglas Koenig</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2013-2014</td>
<td class="ListColumnTwo">Lindsey Morrison</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2014-2015</td>
<td class="ListColumnTwo">Michael Gurlitz</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2015-2016</td>
<td class="ListColumnTwo">Evan Bruskin</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2016-2017</td>
<td class="ListColumnTwo">David Zekoski</td>
</tr>
<tr class="ListRow">
<td class="ListColumnOne">2017-2018</td>
<td class="ListColumnTwo">Daniel Brown</td>
</tr>
</tbody>
</table>
			</div>
	</div>
		

	<div class="foot">
	<hr>
	<div class="bottom-bar">
		<div class="container">
			<p>Trigon Engineering Society is a Contracted Independent Organization (CIO). Although this organization has members who are University of Virginia students and may have University employees associated or engaged in its activities and affairs, the organization is not a part of or an agency of the University. It is a separate and independent organization which is responsible for and manages its own activities and affairs. The University does not direct, supervise or control the organization and is not responsible for the organization’s contracts, acts or omissions. The University of Virginia is in no way responsible for the society's contracts, acts, or omissions. © 2009 Trigon Alumni Network</p>
			<h3>Powered by Flask</h3>
		</div>
	</div>
	</div>
</body>
</html>
