<html>
	<head>
		 <title> Trigon Engineering Society </title> 
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		 <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/rush.css')}}"/>
	</head>
	<body>
	<div class="header">
	<div class="container">
		<img src="{{url_for('static', filename='images/header_img.jpg')}}">
		<hr>
		<div class="nav row">
			<div class="col-sm-1"></div>
			<div class="col-sm-2 home">
				<a href="/">Home</a>
			</div>
			<div class="col-sm-2 link rush"><a class="active" href="/rush">Rush</a></div>
			<div class="col-sm-2 link lawn"><a href="/lawn">Lawn Room</a></div>
			<div class="col-sm-2 link history"><a href="/history">History</a></div>
			<div class="col-sm-2 link teh"><a href="/teh">TEH Award</a></div>
			<div class="col-sm-1"></div>

		</div>
	</div>
	</div>
	<div class="container">
		<div class="content">
			<h1>Rush</h1>
			<p>Welcome back students!  If you are interested in rushing Trigon, please attend our Open Rush events.  Note that you do not need to be an engineering student to attend Open Rush.</p>
			<p><ul><b>Open Rush Schedule</b>
			<li>Seven Deadly Sins -- Friday September 2nd at 10PM. Location: 121 Shamrock Road near the football stadium</li>
			<li>Hump Day Party -- Wednesday, September 7th at 9PM.  Location: 121 Shamrock Road near the football stadium</li>
			<li>Fire and Ice -- Friday, September 9th at 10Pm.  Location: 121 Shamrock Road near the football stadium</li>
			</ul></p>
			<p>If you have any questions, please email Daniel brown at <a href="mailto:dsb9ef@virginia.edu">dsb9ef@virginia.edu</a> or Rachel Elder at <a href="mailto:rme3yr@virginia.edu">rme3yr@virginia.edu</a></p>
		</div>
	</div>
		

	<div class="foot">
	<hr>
	<div class="bottom-bar">
		<div class="container">
			<p>Trigon Engineering Society is a Contracted Independent Organization (CIO). Although this organization has members who are University of Virginia students and may have University employees associated or engaged in its activities and affairs, the organization is not a part of or an agency of the University. It is a separate and independent organization which is responsible for and manages its own activities and affairs. The University does not direct, supervise or control the organization and is not responsible for the organization’s contracts, acts or omissions. The University of Virginia is in no way responsible for the society's contracts, acts, or omissions. © 2009 Trigon Alumni Network</p>
			<h3>Powered by Flask</h3>
		</div>
	</div>
	</div>
</body>
</html>